body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
}

#root {
    background-color: white;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    max-width: 32rem;
    width: 90%;
    height: 400px;
    padding: 2.5rem;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
    color: #848694;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Email, .Password {
    width: 100%;
    height: 30px;
    border-width: 0 0 1px 0;
    border-bottom-color:#CACFF0;
}

.Password {
    margin-top: 10px;
}

.Email:focus, .Password:focus {
    border-bottom-color: #5C6BE1;
    border-width: 0 0 2px 0;
    outline: none;
}

.Submit {
    margin-top: 50px;
    margin-bottom: 15px;
    max-width: 10rem;
    width: 150px;
    height: 35px;
    color: white;
    background-color:#53BED6;
    border: 1px solid #53BED6;
    border-radius: 16px;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div footer {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:890px) {
    section {
        width: 75%;
    }
}
