<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="journeys.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">Travel</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> 
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="index.html" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="destination.html" class="navbar__links">Destinations</a>
          </li>
          <li class="navbar__item">
            <a href="events.html" class="navbar__links">Events</a>
          </li>
          <li class="navbar__btn">
            <a href="index_sign_up.html" class="button">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main">
        <div class="main__container">
          <div class="main__content">
            <h1>Want to have some fun?</h1>
            <p>Find your adventure here.</p>
          </div>
        </div>
      </div>

      <div class="container" id="container"></div>

    <script src="navMenu.js"></script>
    <script src="journeys.js"></script>
  </body>
</html>