<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <nav class="navbar">
      <div class="navbar__container">
        <a href="" id="navbar__logo">Travel</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
              <a href="index.html" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
              <a href="destination.html" class="navbar__links">Destinations</a>
            </li>
            <li class="navbar__item">
              <a href="events.html" class="navbar__links">Events</a>
            </li>
            <li class="navbar__btn">
              <a href="index_sign_up.html" class="button">Sign Up</a>
            </li>
          </ul>
      </div>
    </nav>

    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>Travel.</h1>
          <h1>Make your dreams come true.</h1>
          <p>LET'S GET YOU THERE</p>
          <h3>Begin your adventure today with our help.</h3>
          <button class="main__btn"><a href="createEventRequuest.html">Travel request</a></button>
        </div>
      </div>
    </div>

    <div class="footer__container">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>About Us</h2>
            <a href="">How it works</a>
            <a href="">Terms of Service</a>
          </div>
          <div class="footer__link--items">
            <h2>Contact Us</h2>
            <a href="">Contact</a>
            <a href="">Support</a>
          </div>
          <div class="footer__link--items">
            <h2>Social Media</h2>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
          </div>
        </div>
      <p class="website__rights">© NEXT 2020. All rights reserved</p>
    </div>
    <script src="navMenu.js"></script>
  </body>
</html>